
/*************************************************
BASE STYLES
*************************************************/
*, *:after, *:before {
  box-sizing: border-box;
}

a {
  color: #222;
  text-decoration: none;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  background-color: #222;
  color: #222;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*************************************************
CONTAINER
*************************************************/

.container {
  background-color: white;
  margin: 0 auto;
  max-width: 940px;
  padding: 32px;
}

/*************************************************
NAVBAR
*************************************************/

.navbar {
  border-bottom: 1px solid #999;
  margin-bottom: 64px;
  padding: 24px;
  text-align: center;
}

input[type=submit] {
  border: none;
  border-bottom: 1px solid #111;
  background-color: #fff;
  color: #111;
  font-size: 1.75rem;
  margin: 0 16px 32px;
}

input[type=submit]:hover {
  color: #24B67F;
  cursor: pointer;
  border-color: #24B67F;
}

/*************************************************
MAIN CONTENT
*************************************************/
.title {
  margin-bottom: 32px;
}

.mainContent {
  text-align: center;
}

.videoDescription {
  font-size: 1.9rem;
  font-weight: 300;
  text-align: justify;
}

iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top:0;
  width: 100%;
}

#player {
  height: 0;
  margin-bottom: 56px;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
}

/*************************************************
MEDIA QUERIES
*************************************************/

@media screen and (max-width: 916px) {

  input[type=submit] {
    display: block;
    margin: 24px auto;
  }

  .navbar {
    padding: 16px;
  }

}
