{
  "env" : {
      "node" : true
    },
  "ecmaFeatures" : {
      "arrowFunctions" : true,
      "blockBindings" : true,
      "jsx" : true,
      "modules" : true,
      "classes" : true
    },
    "rules": {
        "semi": [2, "always"]
    }
}
